.nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #1877de;
 position: sticky;
 top: 0;
 z-index: 1000;
 padding: 5px 10px;
}
.nav .nav-f h2{
    color: #fff;
    cursor: pointer;
}

.nav .nav-search{
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    margin: 0 10px;
    width: 100%;
}
@media screen and (max-width : 750px) {
    .nav .nav-search {
        margin-bottom: 10px;
    }
}

.nav .nav-search input{
    border: none;
    width: 100%;
}
.nav .nav-search input:focus{
    outline: none;
}

.nav .nav-e{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-left: 15px;
}
.nav .nav-e .links{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.nav .nav-e .notifiction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.nav .nav-e .notifiction .noti-j{
    position: relative;
}
.nav .nav-e .notifiction .noti-j span{
    position: absolute;
    top: -2px;
    right: -6px;
    background-color: rgb(172, 46, 24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 12px;
    color: #fff;
    width: 16px;
    height: 16px;
}
.nav .nav-e img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
margin-left: 10px;
}
 .Link{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
 }